apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "500m"  # Limit to 0.5 CPU core
            memory: "256Mi" # Limit to 256 MiB of memory
          requests:
            cpu: "250m"  # Request 0.25 CPU core
            memory: "128Mi" # Request 128 MiB of memory